@media (max-width: 1350px) {
  .catalog .container {
    padding: 0 20px;
  }
}

@media (max-width: 1350px) {
  .swiper-button-next.countries-slider_btn.countries-slider__btnnext, .swiper-button-prev.countries-slider_btn.countries-slider__btnprev {
    display: none;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -393px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -393px;
  }
}

/* @media (max-width: 1350px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 388px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -383px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -383px;
  }
} */

@media (max-width: 1162px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 383px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -378px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -378px;
  }
}

@media (max-width: 1144px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 377px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -372px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -372px;
  }
}

@media (max-width: 1128px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 336px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -330px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -330px;
  }
}

@media (max-width: 1008px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 336px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -330px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -330px;
  }
}

@media (max-width: 950px) {
  .countries-tabs {
    margin-right: 20px;
  }
  .tab {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .catalog .container .catalog_title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 33px;
  }
  form.filter {
    display: none;
  }
  .catalog .jq-selectbox.jqselect.filter-style.mobiledropdown {
    display: block!important;
  }
  .catalog .container .mobiledropdown {
    display: block;
    width: 100%;
    height: 39px;
    margin: 0;
    border: none;
    outline: none;
    background-color: #4F73CD;
  }
  .jq-selectbox__dropdown {
    display: block;
  }
  .jq-selectbox__select {
    height: 39px;
    padding: 6px 0 9px;
    border: none;
    background: #4F73CD;
    box-shadow: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "GolosText-Medium";
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: none;
    position: relative;
    margin: 0;
  }
  .jq-selectbox__select:hover, .jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
  }
  .jq-selectbox__trigger {
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    right: 5px;
    top: 12px;
    width: 19px;
    height: 19px;
    border-left: none;
  }
  .jq-selectbox__trigger--active {
    transform: rotate(180deg);
    top: 5px;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
  }
  .jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 11px 0 0;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background: #254595;
    box-shadow: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "GolosText-Medium";
    font-weight: 500;
  }
  .jq-selectbox li.selected {
    background-color: #254595;
    color: #FFF;
    position: relative;
  }
  .jq-selectbox li.selected::before {
    content: '';
    background-image: url('../img/smallarrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 10px;
    left: 15px;
    top: 15px;
  }
  .jq-selectbox li {
    min-height: 39px;
    padding: 6px 87px 9px 40px;
    color: #FFF;
  }
}

@media (max-width: 690px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 322px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -316px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -316px;
  }
}

@media (max-width: 507px) {
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    width: 283px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left {
    left: -278px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text {
    right: -278px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left .countries-slider__hover-textinfo{
    font-size: 14px;
    line-height: 18px;
  }
  .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text__left .countries-slider__hover-textlink, .swiper-container .countries-slider .countries-slider__item .countries-slider__hover-text .countries-slider__hover-textlink {
    font-size: 12px;
    line-height: 18px;
  }
}

